# **Exercise 1**

a)

In [ ]:
for i in range(1,101):
  if i % 15 == 0:
    print("HelloWorld")
  elif i % 5 == 0:
    print("World")
  elif i % 3 == 0:
    print("Hello")
  else : 
    print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

b)

In [ ]:
lists = []
for i in range(1,101):
  
  if i % 15 == 0:
    lists.append("PythonWorks")    
  elif i % 5 == 0:
    lists.append("Works")   
  elif i % 3 == 0:
    lists.append("Python")   
  else : 
    lists.append(i)   

tuple1 = tuple(lists)
print(tuple1)

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

# **Ecercise 2 : The swap**

In [ ]:
a , b = input().split(' , ')
a , b = b , a
print("swaped a: " + a , "swaped b: "+ b)

3 , 10
swaped a: 10 swaped b: 3

# **Exercise 3: Computing the distance**

In [ ]:
import math

u = tuple(input("first point : ").split())
v = tuple(input("first point : ").split())

def Eucldis(u , v):
  distance = math.sqrt((float(u[0])- float(v[0]))**2 +(float(u[1])- float(v[1]))**2)
  return(distance)

print(Eucldis(u,v))

first point : 0 3
first point : 4 0
5.0

# **Exercise 4**

In [ ]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog" 

def frequency(strings):
  frequencys= {}
  for i in strings:
    if i in frequencys:
        frequencys[i] += 1
    else:
        frequencys[i] = 1
  return(frequencys)
  
# printing result 
print ("s1 :\n " , frequency(s1))

  
# printing result 
print ("s2 :\n " , frequency(s2))

s1 :
  {'W': 3, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 9, 'n': 10, 's': 7, 'u': 7, 'b': 4, 'f': 9, '1': 2, '0': 2, '.': 3, 'B': 1, 'l': 12, 'H': 2, 'd': 5, 'v': 2, 'F': 1, 'w': 1, 'c': 1}
s2 :
  {'T': 1, 'h': 2, 'e': 3, ' ': 8, 'q': 1, 'u': 2, 'i': 1, 'c': 1, 'k': 1, 'b': 1, 'r': 2, 'o': 4, 'w': 1, 'n': 1, 'f': 1, 'x': 1, 'j': 1, 'm': 1, 'p': 1, 's': 1, 'v': 1, 't': 1, 'l': 1, 'a': 1, 'z': 1, 'y': 1, 'd': 1, 'g': 1}

# **Exercise 5**

In [ ]:
count = 0
listUnique = []
listRepeat = []

listl = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

for i in listl:
  
  if i in listUnique:
    listUnique.remove(i)
    listRepeat.append(i)
    count -= 1

  if i in listRepeat:
    continue

  else:
    listUnique.append(i)
    count += 1 

print(listUnique)
print(count)

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
37

# **Exercise 6**

In [ ]:
x , y = input().split(',')
def check_input(inputs):
    try:   
      val = int(inputs)
      return int
    except ValueError:
      try:
        val = float(inputs)
        return float
      except ValueError:
            return str
if check_input(x) == int and check_input(y) == int:
  print("The inputs are integer and the sum is : ",int(x)+int(y))
elif check_input(x) == float and  check_input(y) == float:
  print("The inputs are float and the sum is : ",float(x)+float(y))
elif check_input(x) ==str and check_input(y) == str:
  print("The inputs are string and the concatenation is : "+x+y)
else :
  print("Inputs have different types.")

i,hello
The inputs are string and the comcatenation is : ihello

# **Exercise 7**

a)

In [ ]:
cubeda = []
for i in range(0,11):
  cubeda.append(i**3)
print(cubeda)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

b)

In [ ]:
cubedb = [x ** 3 for x in range(0, 11)]
print(cubedb)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# **Exercise 8**

In [ ]:
print([(i,j) for i in range(0,3) for j in range(0,4)])

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

# **Exercise 9**

In [ ]:
c,x=0,2
listT=[]
while c < 100 :         
        for j in range(1, x) :
            a = x * x - j * j
            b = 2 * x * j
            c = x * x + j * j
            if c > 100 :
                break
 
            listT.append((a,b,c))
 
        x = x + 1
print(listT)

[(3, 4, 5), (8, 6, 10), (5, 12, 13), (15, 8, 17), (12, 16, 20), (7, 24, 25), (24, 10, 26), (21, 20, 29), (16, 30, 34), (9, 40, 41), (35, 12, 37), (32, 24, 40), (27, 36, 45), (20, 48, 52), (11, 60, 61), (48, 14, 50), (45, 28, 53), (40, 42, 58), (33, 56, 65), (24, 70, 74), (13, 84, 85), (63, 16, 65), (60, 32, 68), (55, 48, 73), (48, 64, 80), (39, 80, 89), (28, 96, 100)]

# **Exercise 10**

In [ ]:
import math
inputlist = input().split(',')

sum = 0
for i in inputlist:
  i = float(i)
  sum += i**2

lenvector = math.sqrt(sum)

normalized = []

for i in inputlist:
  i = float(i)
  normalized.append(i/lenvector)

print(normalized)

3,4
[0.6, 0.8]

# **Exercise 11**

In [ ]:
fibonacci=[1,1]
for i in range(0,18):
  fibonacci.append(fibonacci[i] + fibonacci[i+1])

print(fibonacci)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]